.works__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4px;
  width: 100%;
}

.workd__grid_two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  width: 100%;
}
