.notes__rectangle {
  background-image: url(../../../images/notes/writing.webp);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

/*
@media screen and (max-width:1310px) {
  .notes__rectangle {
    display: none;
  }
}
*/
