.project__cover {
  width: 100%;
  height: auto;
  mix-blend-mode: normal;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.project__cover:hover {
  mix-blend-mode: difference;
}


.project__cover_nohover {
  width: 100%;
  height: auto;
}
