.root {
    max-width: 100%;
    margin: 0 auto;
    background: #1B1B1B;
    font-family: "TeXGyreHerosCn", 'Arial', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.root::-webkit-scrollbar {
  width: 0;
}

.root::-webkit-scrollbar {
  display: none;
}
