.about {
  display: none;
  background: #01A650;
  height: calc(100% - 106px);
  opacity: 0;
  z-index: 2;
  animation: fadeIn .6s ease;
}

@keyframes fadeIn {
  0% { opacity: .5; }
  100% { opacity: 1; }
}
