.about__selfie {
  height: 100%;
}

.about__selfie-mobile {
  display: none;
  width: 100%;
  height: auto;
}

@media screen and (orientation: portrait) {
  .about__selfie {
    display: none;

  }
}

@media screen and (orientation: portrait) {
  .about__selfie-mobile {
    display: block;
  }
}
